<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Pose Tester</title>
</head>
<body>
    <h1>Webcam Test</h1>

    <video id="webcam" autoplay playsinline width="640" height="480"></video> 
    <script>
        const video = document.getElementById("webcam");

        navigator.mediaDevices.getUserMedia({ video: true }) //if webcam is on
            .then(stream => {
                video.srcObject = stream; //show video 
            })
            .catch(err => {
                console.error("Error accessing webcam:", err); //throw error if no webcam 
            });
    </script>

</body>
</html>